body {
	background: #00a254;
	height: auto;
	background-image: url('../img/fondo.png');
}
body > #header {
	background-image: url('../img/navbar.jpg');
	height: 158px;
	color: white;
}
body > head > img {
	height: auto;
}

.texto-titulo {
	font-size: 25px;
	color: white;
}
#row-center {
	align-items: center;
}
#row-center-f {
	align-items: center;
	height: 98px;
}
#header > div > div {
	height: 158px;
	align-content: center;
}
footer {
	height: 98px;
	background-image: url('../img/navbar.jpg');
}
footer p,
a {
	color: white;
}

#btnGroup {
	justify-content: flex-end;
}
#seccionContactanos {
	height: 450px;
	background-image: url('../img/fondoSeccion.jpg');
}

.min_footer {
	background-color: black;
	height: 100px;
	border: solid 1px red;
}
@media only screen and (max-width: 880px) {
	.min_footer {
		display: block !important;
	}
}

@media only screen and (max-width: 1500px) and (min-width: 881px) {
	.min_footer {
		display: none !important;
	}
}
